@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  background: #f9fafb; /* equivalente a bg-gray-50 */
  color: #111827;      /* equivalente a text-gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre, textarea {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}